<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">User Registration Mail Template</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p>Hello, <span th:text="${username}"></span></p>
    <p>You have been successfully register to <b>Petify.</b></p>
    <span th:text="${message}"></span>
    <p>You can find a lots of interesting and cute pet ads in Petify</p>
    <p>Regards, <br />
    <em>The Petify Team.</em></p>
</body>
</html>